h1 {
    -webkit-box-shadow: 0px 0px 0px #F80004;
    box-shadow: 0px 0px 0px #F80004;
    color: #F60004;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

body p img {
    border: 10px solid #5dc172;
}

body p {
    font-size: larger;
  color:rgba(54, 4, 4, 0.64)
}

.keyword {
    color: #b84eff;
    font-weight: bold;
    text-decoration: overline;
}