h1 {
    -webkit-box-shadow: 0px 0px 0px #F80004;
    box-shadow: 0px 0px 0px #F80004;
    color: #F60004;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

body p img {
    border: 10px solid #00FA35;
}

body p {
  color:palevioletred
}

.keyword {
    color: #9805FA;
    font-weight: bold;
    text-decoration: overline;
}